*{
    margin: 0;
    padding: 0;
}*
body{
    overflow: hidden;
}
.logo{
    width: 80px;
    height: 40px;
    padding: 5px;
}
.navbar{
    padding: 10px;
    justify-content: space-around;
    box-shadow: 0 1px 3px -1px;
    
}
.nav-login-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -55px;
    border-radius: 11px;
   font-size: 14px;
   background-color: red;
   color: white;
}
